/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

section {
  padding: 40px 20px;
}

section h2 {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.centered-iframe {
  display: flex;
  justify-content: center;
}